
# Ignorer les fichiers de log et les sorties de Jupyter
*.log
*.out
*.err

# Ignorer les fichiers temporaires
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignorer les environnements virtuels
venv/
env/
*.venv/

# Ignorer les dépendances installées via pip ou conda
pip-wheel-metadata/
*.egg-info/
dist/
build/
*.whl

# Ignorer les fichiers de configuration des IDE et éditeurs
.idea/
*.swp

# Ignorer les fichiers de configuration personnels et variables d'environnement
.env
.env.local
*.secret
